<body id="login-body">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col m2"></div>
                <div class="col m8">
                    <div class="card-panel solo-card" id="login-card">
                        <div align="center"><img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/4f9fad34c7aafdbf90e5b59be81facc9d8327d36/public/assets/Style/dolarek-logo-zip-file/svg/logo-no-background.svg"
                                  width="600" height="200" ></div>
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate b-text">
                                    <label class="b-text" for="email">E-mail</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate b-text">
                                    <label class="b-text" for="password">Hasło</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m4"></div>
                                <div class="col m4">
                                    <button id="loginbtn" class="btn-large bigButton">Zaloguj</button>
                                </div>
                                <div class="col m4"></div>
                            </div>
                            <div class="row">
                                <div class="col m4"></div>
                                <div class="col m4">
                                    <a href="/signup" class="btn-large bigButton">Zarejestruj</a>
                                </div>
                                <div class="col m4"></div>
                            </div>
                        </form>
                    </div>
                    <div id="modal1" class="modal" style="margin-top:-25rem;">
                        <div class="modal-content" id="error-content">
                            <h4>Error</h4>
                            <div id="error-body">

                            </div>
                        </div>
                        {{!-- <div class="modal-footer">
                        <a href="#!" class="modal-close bigButton btn-large">Agree</a>
                    </div> --}}
                    </div>
                </div>
                <div class="col m2"></div>
            </div>
        </div>
    </div>
    <div class="push"></div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="date-text">© 2022 Copyright</span>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <script src="/assets/js/login.js"></script>
</body>