<html>
<body>
<h3>Hi ${user.email}, witaj w ${websiteName}!</h3>
<div>
    Aby aktywować swoje konto kliknij w link:
    <a href="http://${host}/public/activation?mail=${user.email}&code=${securityCode.code}">Application activation</a>.
</div>
</body>

</html>